<div>
    <div class = "col-xs-12">  
        <img class='avatar' src="<%=@this_user.profile_image%>" height="200" width="200" />
    </div>
</div>
<div>
    <div class = "col-xs-12">  <h3> 
        <%= @username %> </h3>
    </div>
</div>
<div class = "col-xs-4">
    <p>hoots</p>
    <p> <%= @this_user.posts.count %></p>
</div>
<div class = "col-xs-4">
    <a href = '/following/<%= URI.encode(@username) %>'><p>following</p></a>
    <p> <%= @this_user.following.count %> </p>
</div>
<div class = "col-xs-4">
    <a href = '/followers/<%= URI.encode(@username) %>'><p>followers</p></a>
    <p><%= @this_user.followers.count %> </p>
</div>