<div class = 'row'>
    <div class = "col-xs-3 col-xs-offset-3">
        <%= form_for(:user, url: change_password_path) do |f| %>
            <div><%= f.label :change_password? %></div>
            <div><%= f.password_field :password, :placeholder => "current passord" , :class => "form-control" %></div>
            <div><%= f.password_field :new_password, :placeholder => "new password", :class => "form-control" %></div>
            <div><%= f.password_field :new_password_confirm, :placeholder => "new password confirm", :class => "form-control" %></div>
            <div><%= f.submit "Change Password", class: "btn btn-warning" %></div>
        <% end %>
    </div>
    <div class = "col-xs-3">
        <%= form_for(:user, url: change_avatar_path) do |f| %>
            <div><%= f.label :change_profile_picture? %></div>
            <div><%= f.password_field :password, :placeholder => "current passord", :class => "form-control" %></div>
            <div><%= f.text_field :avatar, :placeholder => "new avatar url", :class => "form-control" %></div>
            <div><%= f.submit "Change Avatar", class: "btn btn-warning" %></div>
        <% end %>
    </div>
</div>
<%= render 'components/kill_button' %>