<% if !(User.find_by_name(@username)) %>
    <%= render '/components/no_user_found' %>
<% else %>

        <div class = "row" >
            <div class = "col-xs-6 col-xs-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p> <%=@username%> is following </p>
                    </div>
                 </div>
                <div class="panel panel-default">
                    <%= render '/components/list_of_owls' %>
                </div>
            </div>
            <div class = "col-xs-3">
                <div class="panel panel-default">
                     <div class="panel-body">
                        <%= render '/components/meme_box' %>
                    </div>
               </div>
               <div class="panel panel-default">
                    <div class="panel-body">
                       <%= render '/components/peeps_box' %>
                    </div>
                </div>
            </div>
        </div>
        
<% end %>