<% if !(User.find_by_name(params[:id])) %>
    <%= render '/components/no_user_found' %>
<% else %>


    <div class = "row" >
        <div class = "col-xs-12">
            <div class="jumbotron">
                <h1>give ya boi <%= @username %> a hoot hoot!</h1>
            </div>
        </div>
    </div>  

    <div class = "row" >
        <div class = "col-xs-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <%= render '/components/profile_box' %>
                </div>
            </div>
            <% if user_signed_in? %>
                <% if @this_user.id != current_user_id %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <%= render '/components/follow_button' %>
                            <% if current_user.is_admin? %>
                                <%= render '/components/ban_button' %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class = "col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="title-text"> <%= @username %>'s hoots </p>
                </div>
             </div>
             
            <div id = timeline>
                </div>
                <script>
                    render_hoots_for("<%= @username %>");
                </script>
                <div class="panel panel-default end-panel">
                <div class="panel-body">
                    <center> END </center>
                </div>
             </div>
       </div>
        <div class = "col-xs-3">
            <div class="panel panel-default">
                <div class="panel-body">
                   <%= render '/components/peeps_box' %>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <%= render '/components/meme_box' %>
                 </div>
            </div>
        </div>
    </div>
<% end %>
<!--meme comment xdddddddddddddd -->