<div class = "col-xs-6 col-xs-offset-3">
  <h2>Sign up and start hooting friend :)</h2>
  
  <%= form_for(@user) do |f| %>
  
    <div class="field">
      <%= f.label "name (max size 20) (numbers letters underscores and spaces are allowed)" %><br />
      <%= f.text_field :name, :placeholder => "you are name here", autofocus: true , class: 'form-control'%>
    </div>
      <div class="field">
          <%= f.label 'Profile_Image_(optional)' %><br />
          <%= f.text_field :profile_image, :placeholder => "image url (optional)", :value => '', class: 'form-control'%>
        </div>
  
    <div class="field">
      <%= f.label "password (min size 2)" %>
      <%= f.password_field :password, :placeholder => "password", autocomplete: "off" , class: 'form-control'%>
    </div>
  
    <div class="field">
      <%= f.label "Password Confirmation" %><br />
      <%= f.password_field :password_confirmation, :placeholder => "confirm password", autocomplete: "off" , class: 'form-control'%>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign up" , class: 'btn btn-default'%>
    </div>
  <% end %>
  
  <a href = '/login'>already have an account?</a>
</div>